#DIV_1 {
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    height: 2096.359375px;
    overflow-wrap: break-word;
    position: relative;
    width: 80%;
    word-wrap: break-word;
    perspective-origin: 460px 1048.171875px;
    transform-origin: 460px 1048.171875px;
    border: 1px solid rgb(221, 221, 221);
    border-radius: 3px 3px 3px 3px;
    font: normal normal normal normal 13px/18.2000007629395px Helvetica, arial, nimbussansl, liberationsans, freesans, clean, sans-serif, 'Segoe UI Emoji', 'Segoe UI Symbol';
    margin: 20px 0px 15px;
    outline: rgb(51, 51, 51) none 0px;
}/*#DIV_1*/

#DIV_2 {
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    height: 43px;
    overflow-wrap: break-word;
    width: 100%;
    word-wrap: break-word;
    perspective-origin: 459px 21.5px;
    transform-origin: 459px 21.5px;
    background: rgb(247, 247, 247) none repeat scroll 0% 0% / auto padding-box border-box;
    border-top: 0px none rgb(51, 51, 51);
    border-right: 0px none rgb(51, 51, 51);
    border-bottom: 1px solid rgb(216, 216, 216);
    border-left: 0px none rgb(51, 51, 51);
    border-radius: 2px 2px 0 0;
    font: normal normal normal normal 13px/18.2000007629395px Helvetica, arial, nimbussansl, liberationsans, freesans, clean, sans-serif, 'Segoe UI Emoji', 'Segoe UI Symbol';
    outline: rgb(51, 51, 51) none 0px;
    padding: 5px 10px;
}/*#DIV_2*/

#DIV_2:after {
    clear: both;
    color: rgb(51, 51, 51);
    display: table;
    overflow-wrap: break-word;
    width: 1px;
    word-wrap: break-word;
    perspective-origin: 0.5px 0px;
    transform-origin: 0.5px 0px;
    border: 0px none rgb(51, 51, 51);
    font: normal normal normal normal 13px/18.2000007629395px Helvetica, arial, nimbussansl, liberationsans, freesans, clean, sans-serif, 'Segoe UI Emoji', 'Segoe UI Symbol';
    outline: rgb(51, 51, 51) none 0px;
}/*#DIV_2:after*/

#DIV_2:before {
    color: rgb(51, 51, 51);
    display: table;
    overflow-wrap: break-word;
    width: 1px;
    word-wrap: break-word;
    perspective-origin: 0.5px 0px;
    transform-origin: 0.5px 0px;
    border: 0px none rgb(51, 51, 51);
    font: normal normal normal normal 13px/18.2000007629395px Helvetica, arial, nimbussansl, liberationsans, freesans, clean, sans-serif, 'Segoe UI Emoji', 'Segoe UI Symbol';
    outline: rgb(51, 51, 51) none 0px;
}/*#DIV_2:before*/

#DIV_3 {
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    float: right;
    height: 29px;
    overflow-wrap: break-word;
    width: 272px;
    word-wrap: break-word;
    perspective-origin: 136px 14.5px;
    transform-origin: 136px 14.5px;
    border: 0px none rgb(51, 51, 51);
    font: normal normal normal normal 13px/18.2000007629395px Helvetica, arial, nimbussansl, liberationsans, freesans, clean, sans-serif, 'Segoe UI Emoji', 'Segoe UI Symbol';
    outline: rgb(51, 51, 51) none 0px;
    padding: 3px 0px 0px;
}/*#DIV_3*/

#DIV_4 {
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    display: inline-block;
    height: 26px;
    overflow-wrap: break-word;
    vertical-align: middle;
    width: 173px;
    word-wrap: break-word;
    perspective-origin: 86.5px 13px;
    transform-origin: 86.5px 13px;
    border: 0px none rgb(51, 51, 51);
    font: normal normal normal normal 13px/18.2000007629395px Helvetica, arial, nimbussansl, liberationsans, freesans, clean, sans-serif, 'Segoe UI Emoji', 'Segoe UI Symbol';
    outline: rgb(51, 51, 51) none 0px;
}/*#DIV_4*/

#DIV_4:after {
    clear: both;
    color: rgb(51, 51, 51);
    display: table;
    overflow-wrap: break-word;
    width: 1px;
    word-wrap: break-word;
    perspective-origin: 0.5px 0px;
    transform-origin: 0.5px 0px;
    content: '""';
    border: 0px none rgb(51, 51, 51);
    font: normal normal normal normal 13px/18.2000007629395px Helvetica, arial, nimbussansl, liberationsans, freesans, clean, sans-serif, 'Segoe UI Emoji', 'Segoe UI Symbol';
    outline: rgb(51, 51, 51) none 0px;
}/*#DIV_4:after*/

#DIV_4:before {
    color: rgb(51, 51, 51);
    display: table;
    overflow-wrap: break-word;
    width: 1px;
    word-wrap: break-word;
    perspective-origin: 0.5px 0px;
    transform-origin: 0.5px 0px;
    content: '""';
    border: 0px none rgb(51, 51, 51);
    font: normal normal normal normal 13px/18.2000007629395px Helvetica, arial, nimbussansl, liberationsans, freesans, clean, sans-serif, 'Segoe UI Emoji', 'Segoe UI Symbol';
    outline: rgb(51, 51, 51) none 0px;
}/*#DIV_4:before*/

#A_5 {
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    cursor: pointer;
    display: block;
    float: left;
    height: 26px;
    overflow-wrap: break-word;
    position: relative;
    text-decoration: none;
    vertical-align: middle;
    white-space: nowrap;
    width: 48px;
    word-wrap: break-word;
    perspective-origin: 24px 13px;
    transform-origin: 24px 13px;
    background: rgb(238, 238, 238) linear-gradient(rgb(252, 252, 252), rgb(238, 238, 238)) repeat scroll 0% 0% / auto padding-box border-box;
    border: 1px solid rgb(213, 213, 213);
    border-radius: 3px 0 0 3px;
    font: normal normal bold normal 13px/20px Helvetica, arial, nimbussansl, liberationsans, freesans, clean, sans-serif, 'Segoe UI Emoji', 'Segoe UI Symbol';
    outline: rgb(51, 51, 51) none 0px;
    padding: 2px 10px;
}/*#A_5*/

#A_6 {
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    cursor: pointer;
    display: block;
    float: left;
    height: 26px;
    overflow-wrap: break-word;
    position: relative;
    text-decoration: none;
    vertical-align: middle;
    white-space: nowrap;
    width: 61px;
    word-wrap: break-word;
    perspective-origin: 30.5px 13px;
    transform-origin: 30.5px 13px;
    background: rgb(238, 238, 238) linear-gradient(rgb(252, 252, 252), rgb(238, 238, 238)) repeat scroll 0% 0% / auto padding-box border-box;
    border: 1px solid rgb(213, 213, 213);
    font: normal normal bold normal 13px/20px Helvetica, arial, nimbussansl, liberationsans, freesans, clean, sans-serif, 'Segoe UI Emoji', 'Segoe UI Symbol';
    margin: 0px 0px 0px -1px;
    outline: rgb(51, 51, 51) none 0px;
    padding: 2px 10px;
}/*#A_6*/

#A_7 {
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    cursor: pointer;
    display: block;
    float: left;
    height: 26px;
    overflow-wrap: break-word;
    position: relative;
    text-decoration: none;
    vertical-align: middle;
    white-space: nowrap;
    width: 66px;
    word-wrap: break-word;
    perspective-origin: 33px 13px;
    transform-origin: 33px 13px;
    background: rgb(238, 238, 238) linear-gradient(rgb(252, 252, 252), rgb(238, 238, 238)) repeat scroll 0% 0% / auto padding-box border-box;
    border: 1px solid rgb(213, 213, 213);
    border-radius: 0 3px 3px 0;
    font: normal normal bold normal 13px/20px Helvetica, arial, nimbussansl, liberationsans, freesans, clean, sans-serif, 'Segoe UI Emoji', 'Segoe UI Symbol';
    margin: 0px 0px 0px -1px;
    outline: rgb(51, 51, 51) none 0px;
    padding: 2px 10px;
}/*#A_7*/

#A_8 {
    box-sizing: border-box;
    color: rgb(118, 118, 118);
    display: inline-block;
    height: 26px;
    overflow-wrap: break-word;
    position: relative;
    text-decoration: none;
    vertical-align: middle;
    width: 26px;
    word-wrap: break-word;
    perspective-origin: 13px 13px;
    transform-origin: 13px 13px;
    border: 0px none rgb(118, 118, 118);
    font: normal normal normal normal 13px/13px Helvetica, arial, nimbussansl, liberationsans, freesans, clean, sans-serif, 'Segoe UI Emoji', 'Segoe UI Symbol';
    margin: 0px 0px 0px 5px;
    outline: rgb(118, 118, 118) none 0px;
    padding: 5px;
}/*#A_8*/

#A_8:after {
    bottom: 26px;
    color: rgb(255, 255, 255);
    display: none;
    height: 26px;
    overflow-wrap: break-word;
    pointer-events: none;
    position: absolute;
    right: 136px;
    text-align: center;
    white-space: pre;
    width: 26px;
    word-wrap: break-word;
    z-index: 1000000;
    align-self: stretch;
    perspective-origin: 13px 13px;
    transform-origin: 13px 13px;
    content: '"Open' 'this' 'file' 'in' 'GitHub' 'for' 'Windows"';
    background: rgba(0, 0, 0, 0.8) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(255, 255, 255);
    border-radius: 3px 3px 3px 3px;
    font: normal normal normal normal 11px/16.5px Helvetica, arial, nimbussansl, liberationsans, freesans, clean, sans-serif, 'Segoe UI Emoji', 'Segoe UI Symbol';
    margin: 0px -15px 5px 0px;
    outline: rgb(255, 255, 255) none 0px;
    padding: 5px 8px;
}/*#A_8:after*/

#A_8:before {
    color: rgba(0, 0, 0, 0.8);
    display: none;
    height: 26px;
    overflow-wrap: break-word;
    pointer-events: none;
    position: absolute;
    right: 136px;
    top: -5px;
    width: 26px;
    word-wrap: break-word;
    z-index: 1000001;
    align-self: stretch;
    perspective-origin: 13px 13px;
    transform-origin: 13px 13px;
    content: '""';
    border-top: 5px solid rgba(0, 0, 0, 0.8);
    border-right: 5px solid rgba(0, 0, 0, 0);
    border-bottom: 5px solid rgba(0, 0, 0, 0);
    border-left: 5px solid rgba(0, 0, 0, 0);
    font: normal normal normal normal 13px/13px Helvetica, arial, nimbussansl, liberationsans, freesans, clean, sans-serif, 'Segoe UI Emoji', 'Segoe UI Symbol';
    margin: 0px -5px 0px 0px;
    outline: rgba(0, 0, 0, 0.8) none 0px;
}/*#A_8:before*/

#SPAN_9 {
    box-sizing: border-box;
    color: rgb(118, 118, 118);
    display: inline-block;
    height: 16px;
    overflow-wrap: break-word;
    width: 16px;
    word-wrap: break-word;
    perspective-origin: 8px 8px;
    transform-origin: 8px 8px;
    border: 0px none rgb(118, 118, 118);
    font: normal normal normal normal 16px/16px octicons;
    outline: rgb(118, 118, 118) none 0px;
}/*#SPAN_9*/

#SPAN_9:before {
    color: rgb(118, 118, 118);
    overflow-wrap: break-word;
    word-wrap: break-word;
    content: '""';
    border: 0px none rgb(118, 118, 118);
    font: normal normal normal normal 16px/16px octicons;
    outline: rgb(118, 118, 118) none 0px;
}/*#SPAN_9:before*/

#FORM_10 {
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    display: inline-block;
    height: 26px;
    overflow-wrap: break-word;
    width: 29px;
    word-wrap: break-word;
    perspective-origin: 14.5px 13px;
    transform-origin: 14.5px 13px;
    border: 0px none rgb(51, 51, 51);
    font: normal normal normal normal 13px/18.2000007629395px Helvetica, arial, nimbussansl, liberationsans, freesans, clean, sans-serif, 'Segoe UI Emoji', 'Segoe UI Symbol';
    margin: 0px;
    outline: rgb(51, 51, 51) none 0px;
}/*#FORM_10*/

#DIV_11, #DIV_17 {
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    display: inline;
    height: auto;
    overflow-wrap: break-word;
    width: auto;
    word-wrap: break-word;
    border: 0px none rgb(51, 51, 51);
    font: normal normal normal normal 13px/18.2000007629395px Helvetica, arial, nimbussansl, liberationsans, freesans, clean, sans-serif, 'Segoe UI Emoji', 'Segoe UI Symbol';
    outline: rgb(51, 51, 51) none 0px;
}/*#DIV_11, #DIV_17*/

#INPUT_12, #INPUT_13, #INPUT_18 {
    color: rgb(51, 51, 51);
    display: none;
    height: auto;
    overflow-wrap: break-word;
    width: auto;
    word-wrap: break-word;
    perspective-origin: 50% 50%;
    transform-origin: 50% 50%;
    background: rgba(0, 0, 0, 0) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(51, 51, 51);
    font: normal normal normal normal 13px/18.2000007629395px Helvetica, arial, nimbussansl, liberationsans, freesans, clean, sans-serif, 'Segoe UI Emoji', 'Segoe UI Symbol';
    outline: rgb(51, 51, 51) none 0px;
    padding: 0px;
}/*#INPUT_12, #INPUT_13, #INPUT_18*/

#BUTTON_14 {
    color: rgb(118, 118, 118);
    cursor: pointer;
    height: 26px;
    overflow-wrap: break-word;
    position: relative;
    vertical-align: middle;
    width: 24px;
    word-wrap: break-word;
    perspective-origin: 12px 13px;
    transform-origin: 12px 13px;
    background: rgba(0, 0, 0, 0) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(118, 118, 118);
    font: normal normal normal normal 13px/13px Helvetica, arial, nimbussansl, liberationsans, freesans, clean, sans-serif, 'Segoe UI Emoji', 'Segoe UI Symbol';
    margin: 0px 0px 0px 5px;
    outline: rgb(118, 118, 118) none 0px;
    padding: 5px;
}/*#BUTTON_14*/

#BUTTON_14:after {
    bottom: 26px;
    color: rgb(255, 255, 255);
    cursor: pointer;
    display: none;
    height: 26px;
    overflow-wrap: break-word;
    pointer-events: none;
    position: absolute;
    right: 14.5px;
    white-space: pre;
    width: 24px;
    word-wrap: break-word;
    z-index: 1000000;
    align-self: stretch;
    perspective-origin: 12px 13px;
    transform-origin: 12px 13px;
    content: '"Edit' 'this' 'file"';
    background: rgba(0, 0, 0, 0.8) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(255, 255, 255);
    border-radius: 3px 3px 3px 3px;
    font: normal normal normal normal 11px/16.5px Helvetica, arial, nimbussansl, liberationsans, freesans, clean, sans-serif, 'Segoe UI Emoji', 'Segoe UI Symbol';
    margin: 0px 0px 5px;
    outline: rgb(255, 255, 255) none 0px;
    padding: 5px 8px;
}/*#BUTTON_14:after*/

#BUTTON_14:before {
    color: rgba(0, 0, 0, 0.8);
    cursor: pointer;
    display: none;
    height: 26px;
    overflow-wrap: break-word;
    pointer-events: none;
    position: absolute;
    right: 14.5px;
    top: -5px;
    width: 24px;
    word-wrap: break-word;
    z-index: 1000001;
    align-self: stretch;
    perspective-origin: 12px 13px;
    transform-origin: 12px 13px;
    content: '""';
    border-top: 5px solid rgba(0, 0, 0, 0.8);
    border-right: 5px solid rgba(0, 0, 0, 0);
    border-bottom: 5px solid rgba(0, 0, 0, 0);
    border-left: 5px solid rgba(0, 0, 0, 0);
    font: normal normal normal normal 13px/13px Helvetica, arial, nimbussansl, liberationsans, freesans, clean, sans-serif, 'Segoe UI Emoji', 'Segoe UI Symbol';
    margin: 0px -5px 0px 0px;
    outline: rgba(0, 0, 0, 0.8) none 0px;
}/*#BUTTON_14:before*/

#SPAN_15 {
    box-sizing: border-box;
    color: rgb(118, 118, 118);
    cursor: pointer;
    display: inline-block;
    height: 16px;
    overflow-wrap: break-word;
    text-align: center;
    width: 14px;
    word-wrap: break-word;
    align-self: flex-start;
    perspective-origin: 7px 8px;
    transform-origin: 7px 8px;
    border: 0px none rgb(118, 118, 118);
    font: normal normal normal normal 16px/16px octicons;
    outline: rgb(118, 118, 118) none 0px;
}/*#SPAN_15*/

#SPAN_15:before {
    color: rgb(118, 118, 118);
    cursor: pointer;
    overflow-wrap: break-word;
    text-align: center;
    word-wrap: break-word;
    content: '""';
    border: 0px none rgb(118, 118, 118);
    font: normal normal normal normal 16px/16px octicons;
    outline: rgb(118, 118, 118) none 0px;
}/*#SPAN_15:before*/

#FORM_16 {
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    display: inline-block;
    height: 26px;
    overflow-wrap: break-word;
    width: 27px;
    word-wrap: break-word;
    perspective-origin: 13.5px 13px;
    transform-origin: 13.5px 13px;
    border: 0px none rgb(51, 51, 51);
    font: normal normal normal normal 13px/18.2000007629395px Helvetica, arial, nimbussansl, liberationsans, freesans, clean, sans-serif, 'Segoe UI Emoji', 'Segoe UI Symbol';
    margin: 0px;
    outline: rgb(51, 51, 51) none 0px;
}/*#FORM_16*/

#INPUT_19 {
    color: rgb(51, 51, 51);
    display: none;
    height: auto;
    overflow-wrap: break-word;
    width: auto;
    word-wrap: break-word;
    perspective-origin: 50% 50%;
    transform-origin: 50% 50%;
    background: rgba(0, 0, 0, 0) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(51, 51, 51);
    font: normal normal normal normal 13px/18.2000007629395px Helvetica, arial, nimbussansl, liberationsans, freesans, clean, sans-serif, 'Segoe UI Emoji', 'Segoe UI Symbol';
    outline: rgb(51, 51, 51) none 0px;
    padding: 0px;
}/*#INPUT_19*/

#BUTTON_20 {
    color: rgb(118, 118, 118);
    cursor: pointer;
    height: 26px;
    overflow-wrap: break-word;
    position: relative;
    vertical-align: middle;
    width: 22px;
    word-wrap: break-word;
    perspective-origin: 11px 13px;
    transform-origin: 11px 13px;
    background: rgba(0, 0, 0, 0) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(118, 118, 118);
    font: normal normal normal normal 13px/13px Helvetica, arial, nimbussansl, liberationsans, freesans, clean, sans-serif, 'Segoe UI Emoji', 'Segoe UI Symbol';
    margin: 0px 0px 0px 5px;
    outline: rgb(118, 118, 118) none 0px;
    padding: 5px;
}/*#BUTTON_20*/

#BUTTON_20:after {
    bottom: 26px;
    color: rgb(255, 255, 255);
    cursor: pointer;
    display: none;
    height: 26px;
    overflow-wrap: break-word;
    pointer-events: none;
    position: absolute;
    right: 13.5px;
    white-space: pre;
    width: 22px;
    word-wrap: break-word;
    z-index: 1000000;
    align-self: stretch;
    perspective-origin: 11px 13px;
    transform-origin: 11px 13px;
    content: '"Delete' 'this' 'file"';
    background: rgba(0, 0, 0, 0.8) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(255, 255, 255);
    border-radius: 3px 3px 3px 3px;
    font: normal normal normal normal 11px/16.5px Helvetica, arial, nimbussansl, liberationsans, freesans, clean, sans-serif, 'Segoe UI Emoji', 'Segoe UI Symbol';
    margin: 0px 0px 5px;
    outline: rgb(255, 255, 255) none 0px;
    padding: 5px 8px;
}/*#BUTTON_20:after*/

#BUTTON_20:before {
    color: rgba(0, 0, 0, 0.8);
    cursor: pointer;
    display: none;
    height: 26px;
    overflow-wrap: break-word;
    pointer-events: none;
    position: absolute;
    right: 13.5px;
    top: -5px;
    width: 22px;
    word-wrap: break-word;
    z-index: 1000001;
    align-self: stretch;
    perspective-origin: 11px 13px;
    transform-origin: 11px 13px;
    content: '""';
    border-top: 5px solid rgba(0, 0, 0, 0.8);
    border-right: 5px solid rgba(0, 0, 0, 0);
    border-bottom: 5px solid rgba(0, 0, 0, 0);
    border-left: 5px solid rgba(0, 0, 0, 0);
    font: normal normal normal normal 13px/13px Helvetica, arial, nimbussansl, liberationsans, freesans, clean, sans-serif, 'Segoe UI Emoji', 'Segoe UI Symbol';
    margin: 0px -5px 0px 0px;
    outline: rgba(0, 0, 0, 0.8) none 0px;
}/*#BUTTON_20:before*/

#SPAN_21 {
    box-sizing: border-box;
    color: rgb(118, 118, 118);
    cursor: pointer;
    display: inline-block;
    height: 16px;
    overflow-wrap: break-word;
    text-align: center;
    width: 12px;
    word-wrap: break-word;
    align-self: flex-start;
    perspective-origin: 6px 8px;
    transform-origin: 6px 8px;
    border: 0px none rgb(118, 118, 118);
    font: normal normal normal normal 16px/16px octicons;
    outline: rgb(118, 118, 118) none 0px;
}/*#SPAN_21*/

#SPAN_21:before {
    color: rgb(118, 118, 118);
    cursor: pointer;
    overflow-wrap: break-word;
    text-align: center;
    word-wrap: break-word;
    content: '""';
    border: 0px none rgb(118, 118, 118);
    font: normal normal normal normal 16px/16px octicons;
    outline: rgb(118, 118, 118) none 0px;
}/*#SPAN_21:before*/

#DIV_22 {
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    float: left;
    height: 32px;
    overflow-wrap: break-word;
    width: 191.734375px;
    word-wrap: break-word;
    perspective-origin: 95.859375px 16px;
    transform-origin: 95.859375px 16px;
    border: 0px none rgb(51, 51, 51);
    font: normal normal normal normal 12px/32px Consolas, 'Liberation Mono', Menlo, Courier, monospace;
    outline: rgb(51, 51, 51) none 0px;
}/*#DIV_22*/

#SPAN_23 {
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    display: inline-block;
    height: 18px;
    overflow-wrap: break-word;
    vertical-align: middle;
    width: 1px;
    word-wrap: break-word;
    perspective-origin: 0.5px 9px;
    transform-origin: 0.5px 9px;
    background: rgb(221, 221, 221) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(51, 51, 51);
    font: normal normal normal normal 12px/32px Consolas, 'Liberation Mono', Menlo, Courier, monospace;
    margin: 0px 3px;
    outline: rgb(51, 51, 51) none 0px;
}/*#SPAN_23*/

#DIV_24 {
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    height: 2051.359375px;
    overflow-wrap: break-word;
    width: 918px;
    word-wrap: break-word;
    perspective-origin: 459px 1025.671875px;
    transform-origin: 459px 1025.671875px;
    border: 0px none rgb(51, 51, 51);
    font: normal normal normal normal 13px/18.2000007629395px Helvetica, arial, nimbussansl, liberationsans, freesans, clean, sans-serif, 'Segoe UI Emoji', 'Segoe UI Symbol';
    outline: rgb(51, 51, 51) none 0px;
}/*#DIV_24*/

#ARTICLE_25 {
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    height: 2051.359375px;
    overflow-wrap: break-word;
    width: 918px;
    word-wrap: break-word;
    perspective-origin: 459px 1025.671875px;
    transform-origin: 459px 1025.671875px;
    background: rgb(255, 255, 255) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(51, 51, 51);
    font: normal normal normal normal 16px/25.6000003814697px 'Helvetica Neue', Helvetica, 'Segoe UI', Arial, freesans, sans-serif;
    outline: rgb(51, 51, 51) none 0px;
    overflow: hidden;
    padding: 30px;
}/*#ARTICLE_25*/

#H1_26 {
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    height: 54.796875px;
    overflow-wrap: break-word;
    position: relative;
    width: 858px;
    word-wrap: break-word;
    perspective-origin: 429px 27.390625px;
    transform-origin: 429px 27.390625px;
    border-top: 0px none rgb(51, 51, 51);
    border-right: 0px none rgb(51, 51, 51);
    border-bottom: 1px solid rgb(238, 238, 238);
    border-left: 0px none rgb(51, 51, 51);
    font: normal normal bold normal 36px/43.2000007629395px 'Helvetica Neue', Helvetica, 'Segoe UI', Arial, freesans, sans-serif;
    margin: 0px 0px 16px;
    outline: rgb(51, 51, 51) none 0px;
    padding: 0px 0px 10.8000001907349px;
}/*#H1_26*/

#A_27 {
    box-sizing: border-box;
    color: rgb(64, 120, 192);
    display: block;
    height: 0px;
    left: 0px;
    overflow-wrap: break-word;
    position: absolute;
    text-decoration: none;
    top: 0px;
    width: 36px;
    word-wrap: break-word;
    align-self: stretch;
    perspective-origin: 18px 0px;
    transform-origin: 18px 0px;
    border: 0px none rgb(64, 120, 192);
    font: normal normal bold normal 36px/36px 'Helvetica Neue', Helvetica, 'Segoe UI', Arial, freesans, sans-serif;
    margin: 0px 0px 0px -30px;
    outline: rgb(64, 120, 192) none 0px;
    padding: 0px 6px 0px 30px;
}/*#A_27*/

#SPAN_28, #SPAN_32, #SPAN_36, #SPAN_42, #SPAN_48, #SPAN_54, #SPAN_60, #SPAN_66, #SPAN_72, #SPAN_78, #SPAN_83, #SPAN_88 {
    box-sizing: border-box;
    display: none;
    overflow-wrap: break-word;
    vertical-align: middle;
    word-wrap: break-word;
    perspective-origin: 50% 50%;
    transform-origin: 50% 50%;
    font: normal normal normal normal 16px/16px octicons;
}/*#SPAN_28, #SPAN_32, #SPAN_36, #SPAN_42, #SPAN_48, #SPAN_54, #SPAN_60, #SPAN_66, #SPAN_72, #SPAN_78, #SPAN_83, #SPAN_88*/

#SPAN_28:before, #SPAN_32:before, #SPAN_36:before, #SPAN_42:before, #SPAN_48:before, #SPAN_54:before, #SPAN_60:before, #SPAN_66:before, #SPAN_72:before, #SPAN_78:before, #SPAN_83:before, #SPAN_88:before {
    overflow-wrap: break-word;
    word-wrap: break-word;
    perspective-origin: 50% 50%;
    transform-origin: 50% 50%;
    content: '""';
    font: normal normal normal normal 16px/16px octicons;
}/*#SPAN_28:before, #SPAN_32:before, #SPAN_36:before, #SPAN_42:before, #SPAN_48:before, #SPAN_54:before, #SPAN_60:before, #SPAN_66:before, #SPAN_72:before, #SPAN_78:before, #SPAN_83:before, #SPAN_88:before*/

#P_29, #P_43, #P_55, #P_67, #P_84 {
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    height: 50px;
    overflow-wrap: break-word;
    width: 858px;
    word-wrap: break-word;
    perspective-origin: 429px 25px;
    transform-origin: 429px 25px;
    border: 0px none rgb(51, 51, 51);
    font: normal normal normal normal 16px/25.6000003814697px 'Helvetica Neue', Helvetica, 'Segoe UI', Arial, freesans, sans-serif;
    margin: 0px 0px 16px;
    outline: rgb(51, 51, 51) none 0px;
}/*#P_29, #P_43, #P_55, #P_67, #P_84*/

#H2_30, #H2_76, #H2_81, #H2_86 {
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    height: 43.390625px;
    overflow-wrap: break-word;
    position: relative;
    width: 858px;
    word-wrap: break-word;
    perspective-origin: 429px 21.6875px;
    transform-origin: 429px 21.6875px;
    border-top: 0px none rgb(51, 51, 51);
    border-right: 0px none rgb(51, 51, 51);
    border-bottom: 1px solid rgb(238, 238, 238);
    border-left: 0px none rgb(51, 51, 51);
    font: normal normal bold normal 28px/34.2999992370606px 'Helvetica Neue', Helvetica, 'Segoe UI', Arial, freesans, sans-serif;
    margin: 28px 0px 16px;
    outline: rgb(51, 51, 51) none 0px;
    padding: 0px 0px 8.39999961853027px;
}/*#H2_30, #H2_76, #H2_81, #H2_86*/

#A_31, #A_77, #A_82, #A_87 {
    box-sizing: border-box;
    color: rgb(64, 120, 192);
    display: block;
    height: 0px;
    left: 0px;
    overflow-wrap: break-word;
    position: absolute;
    text-decoration: none;
    top: 0px;
    width: 36px;
    word-wrap: break-word;
    align-self: stretch;
    perspective-origin: 18px 0px;
    transform-origin: 18px 0px;
    border: 0px none rgb(64, 120, 192);
    font: normal normal bold normal 28px/28px 'Helvetica Neue', Helvetica, 'Segoe UI', Arial, freesans, sans-serif;
    margin: 0px 0px 0px -30px;
    outline: rgb(64, 120, 192) none 0px;
    padding: 0px 6px 0px 30px;
}/*#A_31, #A_77, #A_82, #A_87*/

#P_33, #P_37, #P_44, #P_49, #P_56, #P_61, #P_68, #P_73, #P_79, #P_89 {
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    height: 25px;
    overflow-wrap: break-word;
    width: 858px;
    word-wrap: break-word;
    perspective-origin: 429px 12.5px;
    transform-origin: 429px 12.5px;
    border: 0px none rgb(51, 51, 51);
    font: normal normal normal normal 16px/25.6000003814697px 'Helvetica Neue', Helvetica, 'Segoe UI', Arial, freesans, sans-serif;
    margin: 0px 0px 16px;
    outline: rgb(51, 51, 51) none 0px;
}/*#P_33, #P_37, #P_44, #P_49, #P_56, #P_61, #P_68, #P_73, #P_79, #P_89*/

#H3_34, #H3_40, #H3_46, #H3_52, #H3_58, #H3_64, #H3_70 {
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    height: 34px;
    overflow-wrap: break-word;
    position: relative;
    width: 858px;
    word-wrap: break-word;
    perspective-origin: 429px 17px;
    transform-origin: 429px 17px;
    border: 0px none rgb(51, 51, 51);
    font: normal normal bold normal 24px/34.3199996948242px 'Helvetica Neue', Helvetica, 'Segoe UI', Arial, freesans, sans-serif;
    margin: 24px 0px 16px;
    outline: rgb(51, 51, 51) none 0px;
}/*#H3_34, #H3_40, #H3_46, #H3_52, #H3_58, #H3_64, #H3_70*/

#A_35, #A_41, #A_47, #A_53, #A_59, #A_65, #A_71 {
    box-sizing: border-box;
    color: rgb(64, 120, 192);
    display: block;
    height: 0px;
    left: 0px;
    overflow-wrap: break-word;
    position: absolute;
    text-decoration: none;
    top: 0px;
    width: 36px;
    word-wrap: break-word;
    align-self: stretch;
    perspective-origin: 18px 0px;
    transform-origin: 18px 0px;
    border: 0px none rgb(64, 120, 192);
    font: normal normal bold normal 24px/28.7999992370605px 'Helvetica Neue', Helvetica, 'Segoe UI', Arial, freesans, sans-serif;
    margin: 0px 0px 0px -30px;
    outline: rgb(64, 120, 192) none 0px;
    padding: 0px 6px 0px 30px;
}/*#A_35, #A_41, #A_47, #A_53, #A_59, #A_65, #A_71*/

#P_38, #P_50, #P_62, #P_74 {
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    height: 25px;
    overflow-wrap: break-word;
    width: 858px;
    word-wrap: break-word;
    perspective-origin: 429px 12.5px;
    transform-origin: 429px 12.5px;
    border: 0px none rgb(51, 51, 51);
    font: normal normal normal normal 16px/25.6000003814697px 'Helvetica Neue', Helvetica, 'Segoe UI', Arial, freesans, sans-serif;
    margin: 0px 0px 16px;
    outline: rgb(51, 51, 51) none 0px;
}/*#P_38, #P_50, #P_62, #P_74*/

#A_39, #A_45, #A_57, #A_69, #A_80 {
    box-sizing: border-box;
    color: rgb(64, 120, 192);
    overflow-wrap: break-word;
    text-decoration: none;
    word-wrap: break-word;
    border: 0px none rgb(64, 120, 192);
    font: normal normal normal normal 16px/25.6000003814697px 'Helvetica Neue', Helvetica, 'Segoe UI', Arial, freesans, sans-serif;
    outline: rgb(64, 120, 192) none 0px;
}/*#A_39, #A_45, #A_57, #A_69, #A_80*/

#A_51, #A_63, #A_85 {
    box-sizing: border-box;
    color: rgb(64, 120, 192);
    overflow-wrap: break-word;
    text-decoration: none;
    word-wrap: break-word;
    border: 0px none rgb(64, 120, 192);
    font: normal normal normal normal 16px/25.6000003814697px 'Helvetica Neue', Helvetica, 'Segoe UI', Arial, freesans, sans-serif;
    outline: rgb(64, 120, 192) none 0px;
}/*#A_51, #A_63, #A_85*/

#A_75 {
    box-sizing: border-box;
    color: rgb(64, 120, 192);
    overflow-wrap: break-word;
    text-decoration: none;
    word-wrap: break-word;
    border: 0px none rgb(64, 120, 192);
    font: normal normal normal normal 16px/25.6000003814697px 'Helvetica Neue', Helvetica, 'Segoe UI', Arial, freesans, sans-serif;
    outline: rgb(64, 120, 192) none 0px;
}/*#A_75*/

#UL_90 {
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    height: 325px;
    overflow-wrap: break-word;
    width: 858px;
    word-wrap: break-word;
    perspective-origin: 429px 162.5px;
    transform-origin: 429px 162.5px;
    border: 0px none rgb(51, 51, 51);
    font: normal normal normal normal 16px/25.6000003814697px 'Helvetica Neue', Helvetica, 'Segoe UI', Arial, freesans, sans-serif;
    margin: 0px;
    outline: rgb(51, 51, 51) none 0px;
    padding: 0px 0px 0px 32px;
}/*#UL_90*/

#LI_91, #LI_96 {
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    height: 25px;
    overflow-wrap: break-word;
    width: 826px;
    word-wrap: break-word;
    perspective-origin: 413px 12.5px;
    transform-origin: 413px 12.5px;
    border: 0px none rgb(51, 51, 51);
    font: normal normal normal normal 16px/25.6000003814697px 'Helvetica Neue', Helvetica, 'Segoe UI', Arial, freesans, sans-serif;
    outline: rgb(51, 51, 51) none 0px;
}/*#LI_91, #LI_96*/

#LI_92, #LI_95, #LI_98 {
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    height: 50px;
    overflow-wrap: break-word;
    width: 826px;
    word-wrap: break-word;
    perspective-origin: 413px 25px;
    transform-origin: 413px 25px;
    border: 0px none rgb(51, 51, 51);
    font: normal normal normal normal 16px/25.6000003814697px 'Helvetica Neue', Helvetica, 'Segoe UI', Arial, freesans, sans-serif;
    outline: rgb(51, 51, 51) none 0px;
}/*#LI_92, #LI_95, #LI_98*/

#UL_93 {
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    height: 25px;
    overflow-wrap: break-word;
    text-align: left;
    width: 826px;
    word-wrap: break-word;
    perspective-origin: 413px 12.5px;
    transform-origin: 413px 12.5px;
    border: 0px none rgb(51, 51, 51);
    font: normal normal normal normal 16px/25.6000003814697px 'Helvetica Neue', Helvetica, 'Segoe UI', Arial, freesans, sans-serif;
    list-style: circle outside none;
    margin: 0px;
    outline: rgb(51, 51, 51) none 0px;
    padding: 0px 0px 0px 32px;
}/*#UL_93*/

#LI_94, #LI_101, #LI_103 {
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    height: 25px;
    overflow-wrap: break-word;
    width: 794px;
    word-wrap: break-word;
    perspective-origin: 397px 12.5px;
    transform-origin: 397px 12.5px;
    border: 0px none rgb(51, 51, 51);
    font: normal normal normal normal 16px/25.6000003814697px 'Helvetica Neue', Helvetica, 'Segoe UI', Arial, freesans, sans-serif;
    list-style: circle outside none;
    outline: rgb(51, 51, 51) none 0px;
}/*#LI_94, #LI_101, #LI_103*/

#LI_97 {
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    height: 25px;
    overflow-wrap: break-word;
    width: 826px;
    word-wrap: break-word;
    perspective-origin: 413px 12.5px;
    transform-origin: 413px 12.5px;
    border: 0px none rgb(51, 51, 51);
    font: normal normal normal normal 16px/25.6000003814697px 'Helvetica Neue', Helvetica, 'Segoe UI', Arial, freesans, sans-serif;
    outline: rgb(51, 51, 51) none 0px;
}/*#LI_97*/

#LI_99 {
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    height: 100px;
    overflow-wrap: break-word;
    width: 826px;
    word-wrap: break-word;
    perspective-origin: 413px 50px;
    transform-origin: 413px 50px;
    border: 0px none rgb(51, 51, 51);
    font: normal normal normal normal 16px/25.6000003814697px 'Helvetica Neue', Helvetica, 'Segoe UI', Arial, freesans, sans-serif;
    outline: rgb(51, 51, 51) none 0px;
}/*#LI_99*/

#UL_100 {
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    height: 75px;
    overflow-wrap: break-word;
    text-align: left;
    width: 826px;
    word-wrap: break-word;
    perspective-origin: 413px 37.5px;
    transform-origin: 413px 37.5px;
    border: 0px none rgb(51, 51, 51);
    font: normal normal normal normal 16px/25.6000003814697px 'Helvetica Neue', Helvetica, 'Segoe UI', Arial, freesans, sans-serif;
    list-style: circle outside none;
    margin: 0px;
    outline: rgb(51, 51, 51) none 0px;
    padding: 0px 0px 0px 32px;
}/*#UL_100*/

#LI_102 {
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    height: 25px;
    overflow-wrap: break-word;
    width: 794px;
    word-wrap: break-word;
    perspective-origin: 397px 12.5px;
    transform-origin: 397px 12.5px;
    border: 0px none rgb(51, 51, 51);
    font: normal normal normal normal 16px/25.6000003814697px 'Helvetica Neue', Helvetica, 'Segoe UI', Arial, freesans, sans-serif;
    list-style: circle outside none;
    outline: rgb(51, 51, 51) none 0px;
}/*#LI_102*/

